h3 {
    color: var(--primary-color);
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 10px;
}

h4 {
    color: var(--secondary-color);
    font-size: 21px;
    margin-top: 10px;
}

p {
    color: #8d8d8d;
    font-size: 18px;
}

.bienvenue {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cuisineImg {
    margin: 7% 0px;
}

section {
    background: linear-gradient(to top, #d1cfcf, rgb(235, 235, 236));
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0;
    padding:0;
}

main {
    justify-content: left;
    text-align: left;
    margin-right: 2%;
    padding: 0;
}

h6 {
    color: var(--primary-color);
    font-size: 23px;
    margin: 0%;
    margin-top: 5%;
}

#navBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.imgNav {
    top: auto;
    left: auto;
    height: 200px;
    width: 350px;
    object-fit: cover;
    align-items: stretch;
}

.resumePages {
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 16px;
    margin: 20px;
    width: 350px;
}

.resumePages:hover {
    transform: translateY(-5px);
}

.contenuNav {
    padding: 32px;
}