.bienvenue {
    justify-content: left;
    text-align: left;
    margin-right: 2%;
    padding: 0;
}

#cuisine-image {
    margin: 7% 0px;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.section-top {
    display: flex;
    justify-content: left;
    text-align: left;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    color: #8d8d8d;
}

#bon-appetit {
    color: var(--secondary-color);
    font-size: 21px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #cuisine-image {
        max-height: 400px;
        max-width: 600px;
    }

    section {
        flex-wrap: wrap;
    }

    .cartes {
        flex-wrap: wrap;
        flex: 1 1 50%;
    }
}