header {
    background: linear-gradient(to left, var(--primary-color), darkblue);
    color: #ffffff;
    position: fixed;
    padding: 15px 150px;
    align-items: center;
    display: flex;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.liensHeader {
    color:#ffffff;
}

.liensHeader:hover {
    color: #d8d5d5
}

nav {
    margin-left: 425px;
}

h2 {
    color: #cec8c8;
    font-size: 14px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 60px;
}

li {
    color: #ffffff;
    font-size: 18px;
}

footer {
    background-color: var(--footer-bg);
    position: fixed;
    align-items: center;
    display: flex;
    padding: 30px 150px;
}

thead {
    color: var(--primary-color);
    font-size: 20px;
}

.tableau.Footer {
    padding: 40px;
    margin: 100px;
}

tbody {
    color:#878686
}