header {
    background: linear-gradient(to left, var(--primary-color), darkblue);
    color: #ffffff;
    position: fixed;
    padding: 15px 150px;
    align-items: center;
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.liensHeader {
    color:#ffffff;
}

.liensHeader:hover {
    color: #d8d5d5
}

nav {
    margin-left: 800px;
}

h2 {
    color: #cec8c8;
    font-size: 14px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 60px;
}

li {
    color: #ffffff;
    font-size: 18px;
}

footer {
    background-color: var(--footer-bg);
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 30px 150px;
    margin: 0px auto;
}

.liensRapFooter {
    color:#878686
}

tbody {
    color:#878686
}

table {
    border-collapse: collapse;
    width: 1500px;
}

tr {
    padding: 10px;
}

thead {
    color: var(--primary-color);
    font-size: 20px;
    margin-bottom: 50px;
}

.copyright {
    color: #878686;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}