.section-top > nav {
    margin: 0%;
    padding: 18px 0px;
    color: #8d8d8d;
}

h2 {
    color: var(--text-color);
    font-size: 35px;
    margin-bottom: 30px;
}

.section-top {
    padding-left: 11%;
    text-align: left;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    align-items: top;
    padding: 0% 11%;
    padding-top: 30px;
    gap: 20px;
}

.recette-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.variables {
    margin: 5px;
    margin-bottom: 15px;
}

.valeurs {
    font-size: 25px;
    margin: 0px;
}

img {
    max-height: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

aside {
    padding: 0;
    margin: 0;
}

.titre-ingredients {
    margin-top: 0;
}

.button-vers-recettes {
    width: 200px;
    margin: 20% 0%;
    background: #6c757d;
    align-items: left;
}

.button-vers-recettes:hover {
    background-color: #5a6268;
}

.texte-boite {
    margin: 0;
}

ul {
    padding-left: 1.5rem;
}

ol {
    padding-left: 1.5rem;
}

li {
    line-height: 1.6;
}

@media (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
        height: auto;
    }

    .recette-info {
        padding-left: 17%;
    }
}