.section-top {
    padding: 2%;
    text-align: center;
}

h6 {
    color: var(--text-color);
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 5%;
    gap: 10px;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 2.5% 5%;
}

.cartes {
    min-width: 0px;
    max-width: 400px;
    width: 100%
}

p {
    color: #8d8d8d;
}

@media (max-width: 1024px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    section {
        grid-template-columns: 1fr;       
    }
}