main {
    padding: 2%;
    text-align: center;
}

h6 {
    color: var(--text-color);
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 5%;
}

.infosGen {
    border-radius: 16px;
    text-align: center;
    width: 100px;
    background-color: #d8d4d441;
}

.infosText {
    color: black;
}

.facile {
    border-radius: 16px;
    text-align: center;
    width: 100px;
    background-color: #aeff9c5b;
}

.moyen {
    border-radius: 16px;
    text-align: center;
    width: 100px;
    background-color: #fff76263;
}

.facileText {
    color: rgb(36, 128, 0);
}

.moyenText {
    color: rgb(179, 164, 33);
}